	<div class="history" data-ng-controller="HistoryController" data-ng-show="isLogin">
		<h1>黑名单地址历史交易量统计</h1>
		<div class="hdr" data-ng-repeat="history in histories">
			<table class="tab1 historytable">
				<tr class="thar">
					<td class="td1">导入时间：{{history.import_time  | date:'yyyy-MM-dd HH:mm:ss'}}</td>

					<td class="td2" colspan="2" data-ng-show="history.txsnum>0"><span class=" daochu" ng-csv="history.user" add-bom="true"
													  csv-header="['黑名单地址','备注','交易量']" filename="黑名单地址历史交易量统计_{{dateval}}.csv">导出</span></td>
					<td class="td2" colspan="2" data-ng-show="!history.txsnum"><span class=" daochu">导出</span></td>
				</tr>
				<tr class="tab2" data-ng-repeat="user in history.user|limitTo:history.limitpage">
					<td class="td1" style="width:50%" data-ng-show="!history.txsnum">{{user.addr}}</td>
					<td class="td1" style="width:50%" data-ng-show="history.txsnum>0"><a href="address/{{user.addr}}">{{user.addr}}</a></td>
					<td class="" style="width:33%">{{user.comment}}</td>
					<td class="td2" style="width:17%">{{user.txsnum}}个交易</td>
				</tr>
			</table>
			<b data-ng-show="history.user.length>0">{{history.txsnum}}个交易</b>
			<div class="bot" data-ng-show="history.user.length > 5">
				<span class="span1"><img src="images/zk.png" width="30" alt="" data-ng-hide="history.limitpage > 5" data-ng-click="expand(history.user.length, history.no)"></span>
				<span class="span2"><img src="images/sq.png" width="30" alt="" data-ng-show="history.limitpage > 5" data-ng-click="expand(5, history.no)"></span>
			</div>
		</div>
	</div>
