    <div data-ng-if="true" data-ng-controller="transactionsController"
         data-ng-init="load('address')">
        <div class="if">
            <div class="mdWrap" data-ng-show="false">
                <div class="md">
                    <input id="searchAddress" type="text" data-ng-model="searchAddr">
                    <input id="searchButton" type="button" ng-click="searchByAddr()" value="GO">
                </div>
            </div>
            <iframe src="graph/index.html#/graph" frameborder="0"></iframe>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab1">
                    <table>
                        <tr class="bbt">
                            <td class="td1 col-md-6" colspan="3"><a href="address/{{searchAddr}}">{{searchAddr}}</a></td>
                            <td class="col-md-3">{{blackaddr.comment}}</td>
                            <td class="td2 col-md-3">{{balance}} BTC</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div data-ng-include src="'views/includes/connection.html'"></div>

        <!--        <input data-ng-show="true" type="text" data-ng-change="" data-ng-model="addr" value="2NCRHyeRjyo1bUiZXLLymapcPxLDrrXY5Gn"> -->
        <div data-ng-include src="'views/transaction/list.html'" when-scrolled="loadMore()"></div>
    </div>
