<div class="login-nav insight">
	<!-- <img src="images/login-logo.png" height="62" width="309" alt=""> -->
	<b class="">比特币数据处理平台</b>
</div>
<div class="login-content" data-ng-controller="loginController" >
	<div class="lon-con">
		<img src="images/login-bg.png" alt="" width="600">
		<form class="form1">
			<div class="login-col">
				<input type="text" class="lin" placeholder="账号" data-ng-model="user.name">
				<span data-ng-show="invalid_account">账号不存在</span>
			</div>
			<div class="login-col">
				<input type="password" class="lin" placeholder="密码" data-ng-model="user.password">
				<span data-ng-show="password_error">密码错误</span>
			</div>
			<div class="lo-btn">
				<button data-ng-click="login()" class="ddlu">登 录</button>
			</div>
		</form>
	</div>
</div>